.cup{
  position: relative;
  z-index: 10;
  margin-right: 35px;

span{
    position: absolute;
    background-image: -moz-linear-gradient( 45deg, rgb(217,79,199) 0%, rgb(109,48,200) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(217,79,199) 0%, rgb(109,48,200) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(217,79,199) 0%, rgb(109,48,200) 100%);
    box-shadow: 0px 0px 1px 4px rgb(0, 0, 0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    z-index: 20;
    top: 0px;
    right: 5px;
  }
  img{
    width: 43px;
  }
}


