.wrapIkon{
  //border: 1px solid green;
  display: flex;
  align-items: center;
}

.wrap-naw{
  display: grid;
  grid-template-columns:430px 108px 180px;
  align-items: center;
  //border:1px solid #0ac96b;
  justify-content: center;
  //width: 100%;
}