.comments-feed{
  border:1px solid white;
  padding:30px 25px 30px 25px;
  border-radius: 0 0 15px 15px;
  background-color: #fff;
  background-color: rgb(36, 35, 51);
  box-shadow: 0px 22px 40px 0px rgba(36, 35, 51, 0.45);
}
