.right-side-bar{
  //border: 1px solid green;
  max-width: 445px;
  width: 100%;

  .t-news{

  }

  .right-side-bar-title{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Geomanist-Book';
    font-weight: normal;
  }
  .option2{
    display: none;
  }
}