.the-best-collector{
  padding: 25px;
  border-radius: 15px 15px 0 0;
  background-color: rgba(36, 35, 51, 0.8);
  margin-bottom: 2px;

  .wrap-img{
    //border: 1px solid floralwhite;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
  }


}

